body{
    background-image: url(clouds.jpg);
    min-height: 100vh;
    background-repeat: none;
    background-size: cover;
    overflow: hidden;
    
  }
  .h1
  {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .input::before{
    content: "";
    position: absolute;
    background-image: url(weather.webp);
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .input{
      position: absolute;
      top:30%;
      left: 50%;
      transform: translate(-50%,-50%);
      /* background-color:rgb(227, 23, 47); */
    height: 25%;
    width: 35%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .h2{
    margin: 0%;
    padding: 0;
    display: none;
  }
  input{
      flex: 1;
      margin: 5px;
      padding: 8px;
      max-width:70%;
      z-index: 1;
      font-size: 18px;
      border-radius: 20px;
      background: transparent;
  }
  input:hover
  {
    box-shadow: 0px 4px 15px rgb(19, 18, 18);
  }
  input::placeholder
  {
    color: black;
  }
  button{
      padding: 8px;
     min-width: fit-content;
      flex-wrap: wrap;
      z-index: 1;    
      border-radius: 15px;
      background-color: rgb(106, 4, 74);
      color: aliceblue;
  }
  .button:hover{
      background-color: aqua;
      color: black;
  }
  .p{
      display: none;
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 35%;
      width: 40%;
      background-color: rgb(106, 231, 201);    
  }
  p{
      padding: 0px 7px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }
  .city{
      text-align: center;
  }
  span{
      color: blue;
  }
  h3{
      width: 100%;
  }

  @media screen and (max-width:630px) {
    .input{
        display:flex;
        flex-direction: column;
        height: 25%;
        width: 80%;
    }
    input {
       max-height: 10%;
       width: 20vw; 
       background-color:rgba(178, 192, 178, 0.379);
        font-size: xx-small;
     }
    .h2
    {
        display: block;
        z-index: 1;
        color: azure;
        padding-bottom: 20px;
    }
    .p{
        min-height:40%;
        min-width:80% ;
    }
    .button
    {
        margin-top: 15px;
    }
  }
  
